/* MenuBar */

.topnav{
    background-color: darkseagreen;
    overflow: hidden;
    display: flex;  
    margin:0 auto;
    padding: 14px 16px;
    text-align: justify;
    text-decoration: none;
    justify-content: space-around;
}
.top-left{
    font-size: 17px;
}

.top{
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 18px 18px;
    display: flex;
    font-size: 15px;
    
}
.top-right{
    font-size: 15px;
    align-items: center;
    display: flex;
}

/* DropDown */

.dropdown{
  display: none;
}
.top ul li:hover .dropdown{
  display: block;
  position:absolute;
  background-color: #3e8e41;
  margin-top: 15px;
  margin-left: 15px;
}
.top ul li:hover .dropdown ul{
  display: block;
  margin: 10px;
}
.top ul li:hover .dropdown ul li{
  width: 80px;
  padding: 10px;
  border-bottom: 1px dotted bisque;
  border-radius: 0;
  text-align: left;
}
.top ul li:hover .dropdown ul li:last-child{
  border-bottom: none;
}
.top ul li:hover .dropdown ul li a:hover{
  background-color: bisque;
}

  /* Slider */
  .dots{
    text-align:center;
  }
.mySlides {
    display:none
}
.slide-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
img{
    width: 1000px;
    height: 400px;
}
.text{
    color: #f2f2f2;
    background-color: #717171;
    opacity: 0.5;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 977px;
    text-align: center;
}
  .dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: #bbb 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes myfade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
  }
  @keyframes myfade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
  }
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  /* Cards */
  .container {
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }
  .cards{
    display: flex;
    margin: 0 ;
  }
  .card-main{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img{
       width: 210px;
      height: 150px; 
     border-radius: 5px 5px 0 0;
  }
